<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LetterBox</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style_yumin.css" />
    <script src="/javascripts/searchuser.js"></script>
    <script src="/javascripts/home.js"></script>
    <script>
      function post_expansion() {
        var contents = document.getElementById("post_contents");

        contents.style.display = block;
      }
    </script>
  </head>
  <body id="font_basic">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
      //툴팁 관련 함수
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <script src="/javascripts/searchuser.js"></script>

    <!-- 왼쪽 사이드바 -->
    <nav style="z-index: 2" id="nav_left">
      <a href="/home">
        <img src="../images/logo/logo2.png" id="logo_img" />
      </a>

      <span data-toggle="tooltip" data-placement="right" title="새 게시글 생성"
        ><img
          src="../images/icon/more.png"
          id="menu_img"
          data-toggle="modal"
          data-target="#modal_new_post"
          style="cursor: pointer"
      /></span>
      <br />

      <span
        data-toggle="tooltip"
        data-placement="right"
        title="홈 화면으로 가기"
      >
        <a href="/home"> <img src="../images/icon/home.png" id="menu_img" /></a
      ></span>
      <br />

      <span data-toggle="tooltip" data-placement="right" title="사용자 페이지">
        <a href="/feed"> <img src="../images/icon/user.png" id="menu_img" /></a>
      </span>
      <br />

      <span data-toggle="tooltip" data-placement="right" title="환경설정">
        <a href="#html">
          <img src="../images/icon/settings.png" id="menu_img"
        /></a>
      </span>
      <br />

      <div style="bottom: 0px; position: absolute">
        <span data-toggle="tooltip" data-placement="right" title="로그아웃">
          <a href="/home/logout">
            <img src="../images/icon/logout.png" id="menu_img"
          /></a>
        </span>
      </div>
    </nav>

    <!-- 상단 네비게이션바 -->
    <header>
      <nav
        class="navbar bg-light"
        style="
          width: 100%;
          height: 70px;
          border-right: 2px solid #989898;
          z-index: 1;
          position: fixed;
        "
      >
        <div class="container-fluid" style="margin-left: 70px">
          <!-- 로고  -->
          <a href="/home">
            <img src="../images/logo/logo1.png" style="height: 20px"
          /></a>

          <!-- 검색창 -->
          <form class="d-flex" role="search">
            <button
              type="button"
              class="btn btn-light"
              data-toggle="modal"
              data-target="#Modal_search"
              style="
                width: 200px;
                text-align: left;
                border: 1px solid #b9b9b9;
                color: #898989;
              "
            >
              사용자 검색
            </button>
          </form>
        </div>
      </nav>
    </header>

          <!-- 검색창 -->
          <div
          class="modal fade"
          id="Modal_search"
          tabindex="-1"
          role="dialog"
          aria-labelledby="ModalLabelSearch"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div
                  class="modal-title"
                  id="ModalLabelSearch"
                  style="margin: 0 auto"
                >
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="사용자 검색"
                      aria-label="Search"
                      aria-describedby="button-addon2"
                      id="input_user"
                      style="width: 350px"
                    />
                    <button
                      class="btn btn-outline-success"
                      type="submit"
                      id="btn_search"
                      onclick="searchF()"
                    >
                      검색
                    </button>
                  </div>
                </div>
              </div>
              <div class="modal-body">
                <div id="div_users"></div>
              </div>
            </div>
          </div>        
        </div>

    <!-- 게시글 표시될 곳-->
    <main style="margin-left: 70px; padding-top: 80px">
      <!-- 오른쪽 멀티 프로필 상자 -->
      <div class="d-none d-md-block" id="profile_box">
        <aside>
          <!-- 이 속에 표시될 프로필 작성하면 됨 -->
          <div id="profile_main">
            <form action="./home/profile1_change" method="post">
            <div id="profile_mini">
              <button type="submit" class="btn btn-dark">profile1</button>
            </div>
            </form>

            <form action="./home/profile2_change" method="post">
            <div
              id="profile_mini" class="p-1"
            >
            <button type="submit" class="btn btn-dark">profile2</button>
            </div>
          </form>

          <form action="./home/profile3_change" method="post">
            <div
              id="profile_mini" class="p-2"
            >
            <button type="submit" class="btn btn-dark">profile3</button>
            </div>
          </form>
          </div>
        </aside>
      </div>

      <div id="contents"></div>

      <!-- 게시글 생성 버튼 클릭 -->
      <form action="./home/write" method="post" enctype="multipart/form-data" >

      <div
        class="modal fade"
        id="modal_new_post"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">새 게시글 생성</h5>
            </div>
            <div class="modal-body">
              <h5>게시글 제목</h5>
              <div class="input-group mb-3">

                <input
                  type="text"
                  class="form-control"
                  aria-describedby="basic-addon1"
                  name="title"
                  id="title"
                  required
                />
              </div>

              <h5>게시글 내용</h5>
              <div class="input-group">
                <textarea
                  class="form-control"
                  style="height: 250px"
                  name="subject"
                  id="subject"
                  required
                ></textarea>
              </div>
              <br />


              <input type="file"  class="form-control" id="image" name ="image" accept=".png, .jpeg, .jpg" required>

              <br />

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">저장</button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                취소
              </button>
            </div>
          </div>
        </div>
      </div>
      
    </main>

  </form>

  </body>
</html>
