<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style_yumin.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body id="font_basic">
    <form class="p-3" method="post">
      <div class="row p-5 container"></div>
      <div class="row justify-content-md-center container-fluid">
        <div
          class="col-md-6"
          style="display: flex; justify-content: center"
          style="text-align: center"
        >
          <img src=../images/logo/logo3.png class="img-fluid" alt="LetterBox
          Logo" style="max-width: 100%; height: auto; width: 180px">
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="exampleInputId1" class="form-label">ID</label>
            <input type="text" class="form-control" id="id" name="id" />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
          </div>
          <div>
            <button
              type="submit"
              class="btn btn-dark mx-2"
              style="color: white; font-weight: bold"
            >
              로그인
            </button>
            <a class="mx-2" href="/signup" style="color: gray">회원가입</a>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
